DATABASE_URL=postgresql://neondb_owner:npg_K8n6mkPUsOYV@ep-snowy-pine-acnj7ldz-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_SYNC=true

SESSION_SECRET=
NODE_ENV=
PORT=
