DATABASE_URL=postgresql://neondb_owner:npg_K8n6mkPUsOYV@ep-snowy-pine-acnj7ldz-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SESSION_SECRET=postgresql://neondb_owner:npg_K8n6mkPUsOYV@ep-snowy-pine-acnj7ldz-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

NODE_ENV=production
PORT=3000
